:root {
  --accent-blue: rgb(74, 144, 226);
  --transparent: rgba(255, 255, 255, 1);
  --transparent-blue: rgba(74, 144, 226, 0.5);
  --glassmorph-shadow: rgba(31, 38, 135, 0.45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  width: 100%;
}

form {
  width: auto;
}

fieldset {
  padding: 24px;
  border-radius: 12px;
}

legend {
  font-weight: bold;
  padding-top: 24px;
}

input,
button,
select {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #f0f0f0;
}

select {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1553693008-a9296dd74129?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  width: 100%;
}

.panel {
  border: none;
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 1.75rem;
  text-align: center;
}

.fill {
  height: 100%;
  width: 100%;
}

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.accentColor {
  color: var(--accent-blue);
}

.formItem {
  width: 100%;
  justify-content: space-between;
}

.glassmorph {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 var(--glassmorph-shadow);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.claymorph {
  border: none;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 35px 35px 68px 0px var(--transparent-blue),
    inset -8px -8px 16px 0px rgba(74, 144, 226, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.loginButton {
  font-weight: bold;
  width: 100%;
  border: none;
  color: white;
  background-color: rgba(0, 100, 255, 0.75);
}

.resetButton {
  font-weight: bold;
  align-self: stretch;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.75);

  box-shadow: 35px 35px 68px 0px rgba(208, 2, 27, 0.5),
    inset -8px -8px 16px 0px rgba(208, 2, 27, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.linkButton {
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.homeButton {
  color: white;
  background-color: rgba(0, 100, 255, 0.75);
}

.profilePicture {
  width: 5rem;
}

.transparent {
  background-color: transparent;
}

.round {
  aspect-ratio: 1/1;
  border-radius: 100%;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.error404 {
  height: auto;
  width: 25rem;
  border-radius: 1rem;
}
