* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.languageDisplay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.languageDisplay h1 {
  margin-left: 12px;
}
