.welcome {
  width: fit-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
  border: 12px double white;
  color: white;
  border-radius: 24px;
  background-color: skyblue;
}
